{% extends "base.html" %}
{% block content %}

<h2>Add Location to Database</h2>
<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_location') }}">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">place</i>
                <input id="location_name" name="location_name" type="text" class="validate" required>
                <label for="location_name">Location Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">travel_explore</i>
                <input id="lat" name="lat" type="number" class="validate" step="any" required>
                <label for="lat">Latitude</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">travel_explore</i>
                <input id="lng" name="lng" type="number" class="validate" step="any" required>
                <label for="lng">Longitude</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button class="btn waves-effect waves-light" type="submit">Add Location
                    <i class="material-icons right">add</i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}