{% extends "base.html" %}
{% block content %}
<div class="col s12">
    <div id="map"></div>
</div>

{% for mushroom in mushrooms %}
    {{ count+1 }}
{% if count%3==0 %}
<div class="row">
    {% endif %}
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <a href='{{ mushroom.image_url }}' target="_blank"><img src='{{ mushroom.image_url }}' class="mushroom-image"></a>
                <span class="card-title">{{ mushroom.name }}</span>
            </div>
            <div class="card-content">
                <p class="card-bold">Description:</p>
                <p>{{ mushroom.description }}</p>
                <br>
                <p class="card-bold">Is it edible?</p>
                <p>{{ mushroom.edible }}</p>
                <br>
                <p class="card-bold">Fruiting season:</p>
                <p>{{ mushroom.fruiting }}</p>
            </div>
            <div class="card-edit-buttons">
                {% if session.user %}
                <a href="{{ url_for('edit_mushroom', mushroom_id=mushroom._id) }}"
                    class="waves-effect waves-light btn-small">Edit</a>
                <a href="{{ url_for('delete_mushroom', mushroom_id=mushroom._id) }}"
                    class="waves-effect waves-light btn-small red">Delete</a>
                {% endif %}
                <em class="created-by">Created by: {{ mushroom.created_by }}</em>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}